@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2E0C9;
    color: #0D0D0D;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background: linear-gradient(to right, #92c44b, #dc6794);
}

header img {
    width: 150px;
    height: auto;
    margin-bottom: 5px;
}

nav {
    text-align: center;
}

nav a {
    margin: 0px 20px;
    text-decoration: none;
    color: #F2E0C9;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 12px;
}

nav a:hover {
    color: #0D0D0D;
    background-color: #f1d326;
    border-radius: 15px;
}

main {
    padding: 20px;
    text-align: center;
}

#frase-de-efeito {
    color: #b93e6a;
    font-weight: 600;
    letter-spacing: 1px; 
    text-shadow: 0px 0px 8px rgba(140, 55, 71, 0.418);
    font-size: 1.1rem;
}

h1 {
    color:#43861f;
    font-size: 2rem;
    padding: 20px;
}

p {
    font-size: 1.2rem;
    color: #414141;
    text-align: center;
}

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}

.video-container {
    flex: 1 1 400px;
    text-align: center;
    transition: transform 0.3s ease;
    overflow: hidden;
    border-radius: 8px;
    background: #ebd2aa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.video-container:hover {
    transform: translateY(-5px);
}

.thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
}

.video-container:hover .thumbnail {
    transform: scale(1.1);
}

.video-title {
    padding: 15px;
    margin: 0;
    font-size: 1rem;
    color: #8C3746;
    transition: color 0.3s ease;
    text-decoration: underline #8C3746;
}

.video-container:hover .video-title {
    color: rgb(9, 145, 207);
    text-decoration: underline rgb(9, 145, 207);
    
}

#topo {
    margin-top: 20px;
    font-size: 1rem;
}

#topo a {
    color:#0D0D0D;
    text-decoration: none;
}

#topo a:hover {
    color:#43861f;
}

footer {
    background-color: #43861f;
    color: #F2E0C9;
    padding: 20px 0px;
    text-align: center;
}

footer .redes-sociais {
    margin-top: 10px;
}

footer .redes-sociais img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
    margin: 0px 6px;
}

footer .redes-sociais img:hover {
    transform: scale(1.1);
}