@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2E0C9;
    color: #0D0D0D;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background: linear-gradient(to right, #92c44b, #dc6794);
}

header img {
    width: 150px;
    height: auto;
    margin-bottom: 5px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #F2E0C9;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 12px;
}

nav a:hover {
    color: #0D0D0D;
    background-color: #f1d326;
    padding: 5px 12px;
    border-radius: 15px;
}

main {
    padding: 20px;
}

#frase-de-efeito {
    color: #b93e6a;
    font-weight: 600;
    letter-spacing: 1px; 
    text-shadow: 0px 0px 8px rgba(140, 55, 71, 0.418);
    font-size: 1.1rem;
    text-align: center;
}

h1 {
    color:#43861f;
    font-size: 2rem;
    padding: 20px;
    text-align: center;
}

.listagem-conteudo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px;
}

.listagem-conteudo a {
    text-align: center;
    text-decoration: none;
    color: #F2E0C9;
    background-color:#b93e6a;
    padding: 5px 12px;
    border-radius: 15px;
    transition: all 0.5s;
    font-weight: 400;
}

.listagem-conteudo a:hover {
    color: #0D0D0D;
    background-color: #f1d326;
}

h2 {
    color: #43861f;
    padding: 15px 0;
}

.topicos {
    text-align: justify;
}

figure {
    margin: 15px 0;
    text-align: center;
}

figure img {
    width: 550px;
    height: auto;
    border-radius: 5px;
}

figcaption {
    font-size: 0.9rem;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: #b93e6a;
    color: #F2E0C9;
    padding: 0.6rem;
}

td {
    background-color: #ebd2aa;
    padding: 0.6rem;
}

td a {
    text-decoration: none;
    color: #43861f;
    font-weight: 700;
}

td a:hover {
    color: #b93e6a;
}

h3 {
    color: #b93e6a;
}

ul, ol {
    list-style-position: inside
}

li {
    margin: 8px 0px;
  }

#topo {
    text-align: center;
    padding-top: 20px;
}

#topo a {
    color:#0D0D0D;
    text-decoration: none;
}

#topo a:hover {
    color:#43861f;
}

footer {
    background-color: #43861f;
    color: #F2E0C9;
    padding: 20px 0px;
    text-align: center;
}

footer .redes-sociais {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

footer .redes-sociais img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
}

footer .redes-sociais img:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    figure img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
}

@media (max-width: 150px) {
    header img {
        width: 100%;
    }
}